#tratamientos {
  background-color: $paleta3;
}

.tratamientos__titulo {
  font-family: Frank Ruhl Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2rem;
  letter-spacing: 0.079em;
  color: #595351;

  @media only screen and (min-width: 576px) {
    font-size: 1.8rem;
  }

  @media only screen and (min-width: 768px) {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 3rem;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 4rem;
  }
}

.tratamientos__subTitulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;

  letter-spacing: 0.034em;
  color: #524f4e;

  @media only screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

#splide {
  visibility: visible;

  @media only screen and (min-width: 768px) {
    visibility: hidden;
    height: 0px;
  }
}

#tarjetasNormales {
  visibility: hidden;
  height: 0px;

  @media only screen and (min-width: 768px) {
    visibility: visible;
    height: 100%;
    width: 90vw;
  }
}

.cards {
  background-color: $paleta0;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 0.2rem 1rem;
  min-height: 15rem;

  @media screen and (min-width: 480px) {
    height: 18rem;
    width: 25rem;
  }
  @media screen and (min-width: 768px) {
    height: auto;
    max-height: 18rem;
    width: auto;
    max-width: 25rem;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    height: 90%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    margin: 2rem;
    padding: 2rem;
  }
}

.imgTrat {
  order: 2;
  margin-top: 1rem;

  @media screen and (min-width: 480px) {
    order: 1;
  }
}

.titleTrat {
  padding-top: 2rem;
  order: 1;

  @media screen and (min-width: 480px) {
    order: 2;
  }
}

.cardFlex {
  display: flex;

  @media screen and (min-width: 480px) {
    display: block;
  }
}
