@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

//VARIABLES
$paleta0: rgb(246, 238, 226);
$paleta1: rgb(246, 223, 206);
$paleta2: rgb(222, 201, 185);
$paleta3: rgb(212, 187, 166);
$paleta4: rgb(209, 175, 143);
$paleta5: rgb(247, 236, 223);

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}