.gridConteiner {
  padding-top: 1.5rem;
  display: grid;
  background-color: $paleta3;
  column-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "covidTitulo covidTitulo"
    "item1 fotoPerfil""item2 fotoPerfil"
    "item3 item3";

  @media only screen and (min-width: 576px) {
    padding-top: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "covidTitulo covidTitulo"
      "fotoPerfil item1"
      "fotoPerfil item2"
      "fotoPerfil item3";
  }

  @media only screen and (min-width: 768px) {
    padding-top: 5rem;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "fotoPerfil covidTitulo"
      "fotoPerfil item0"
      "fotoPerfil item1"
      "fotoPerfil item2"
      "fotoPerfil item3";
  }

  .textoCovid {
    flex-grow: 2;
  }

  h2 {
    font-family: Frank Ruhl Libre;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.099em;
    color: #595351;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.2rem;

    @media only screen and (min-width: 576px) {
      margin-bottom: 2.5rem;
    }

    @media only screen and (min-width: 768px) {
      text-align: start;
      font-size: 3rem;
      line-height: 62px;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    @media only screen and (min-width: 1200px) {}
  }

  p {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 18px;
    text-align: left;
    margin: 0;

    @media only screen and (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.1em;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 25px;
      line-height: 3rem;
      letter-spacing: 0.034em;
      margin-right: 10rem;
    }
  }

  ul {
    margin: 0px;
    list-style-image: url(../media/checked_mini.png);

    @media only screen and (min-width: 768px) {
      list-style-image: url(../media/checked.png);
    }
  }

  li {
    @media only screen and (min-width: 1200px) {
      margin: 1rem 1rem 0 0rem;
    }
  }
}

// .foto_perfil2 {
//   height: auto;
//   width: 300px;
//   border-radius: 2rem;
//   border: solid 2px $paleta0;

//   @media screen and (min-width: 768px) {
//     height: 450px;
//     width: 370px;
//   }

//   @media screen and (min-width: 1200px) {
//     height: 600px;
//     width: 520px;
//   }
// }

.foto_perfil2 {
  height: 162.91;
  width: 145.7px;
  padding-top: 10px;
  padding-left: 10px;
  background-image: url("../media/fondo_imagen_covid.png");
  background-repeat: no-repeat;
  background-size: 145.7px 162.91px;

  @media screen and (min-width: 576px) {
    padding-top: 18px;
    padding-left: 18px;
    height: 261px;
    width: 220px;
    background-size: 220px 261px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-left: 30px;
    height: 421px;
    width: 360px;
    background-size: 360px 421px;
  }

  @media screen and (min-width: 992px) {
    height: 471px;
    width: 370px;
    background-size: 370px 471px;
  }

  @media screen and (min-width: 1200px) {
    height: 621px;
    width: 520px;
    background-size: 520px 621px;
  }
}

.perfil2 {
  height: 183px;
  justify-content: center;
  display: flex;
  align-items: center;

  @media screen and (min-width: 576px) {
    min-height: 265px;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    min-height: 430px;
    height: auto;
  }

  @media screen and (min-width: 992px) {
    min-height: 481px;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    min-height: 630px;
    height: auto;
    margin-right: 8rem;
  }
}

.item1 {
  grid-area: item1;
  display: flex;
}

.item2 {
  grid-area: item2;
  display: flex;
}

.item3 {
  grid-area: item3;
  display: flex;
}

.covidTitulo {
  grid-area: covidTitulo;
}

.fotoPerfil {
  grid-area: fotoPerfil;
}

.visible_covid {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}