.heroe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/portada_desktop.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 4rem;

  .hero-text {
    width: 100%;
    text-align: center;
    // padding-top: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  @media only screen and (min-width: 768px) {
    height: 40%;
  }

  @media only screen and (min-width: 1024px) {
    height: 80%;
  }

  h1 {
    visibility: hidden;

    @media only screen and (min-width: 768px) {
      color: rgb(214, 214, 214) !important;
      visibility: visible;
      font-family: "Frank Ruhl Libre", serif;
      font-style: normal;
      font-weight: 700;
      line-height: 93px;
      letter-spacing: 0.099em;
      color: rgba(80, 77, 77, 1);
    }
  }


}