.sobreRodrigo {
  background-color: $paleta1;
  margin-top: 4rem;

  .textoRodrigo {
    flex-grow: 2;
  }

  h2 {
    font-family: Frank Ruhl Libre;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.099em;
    color: #595351;
    text-align: center;
    margin-top: 1.5rem;

    @media only screen and (min-width: 768px) {
      font-size: 4rem;
      line-height: 62px;
      margin-top: 0;
    }
  }

  p {
    font-family: Poppins;
    font-size: 1rem;
    font-style: center;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;

    @media only screen and (min-width: 768px) {
      font-size: 1.4rem;
      line-height: 39px;
      letter-spacing: 0.1em;
    }
  }
}

.foto_perfil {
  height: 380px;
  width: 300px;
  padding-top: 30px;
  padding-left: 30px;
  background: $paleta3;


  @media screen and (min-width: 768px) {
    height: 450px;
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    width: 520px;
  }
}

.foto_perfil2 {
  border: solid 2px $paleta0;
}

.perfil {
  height: 400px;
  justify-content: center;

  @media screen and (min-width: 576px) {
    justify-content: left;
    padding-left: 0px;
  }

  @media screen and (min-width: 768px) {
    height: 480px;
    justify-content: left;
    padding-left: 0px;
  }

  @media screen and (min-width: 992px) {
    height: 480px;
    justify-content: right;
    padding-right: 0px;
  }

  @media screen and (min-width: 1200px) {
    height: 640px;
  }
}

.visible {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}