@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

nav {
  background-color: #f6dfce;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em; }
  nav a {
    color: black !important; }

.heroe {
  background-image: url("../img/portada_recortada.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero-text {
  text-align: start;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white; }

h1 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0.099em;
  text-align: left;
  color: #504d4d; }

.cards {
  border-radius: 10px; }

.cards:hover {
  transform: scale(1.05); }

.sobreRodrigo {
  background-color: #f6dfce; }
  .sobreRodrigo h2 {
    font-family: Frank Ruhl Libre;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0.099em;
    text-align: center; }
  .sobreRodrigo p {
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-align: left; }

.bloque {
  background: #d1af8f;
  height: 395px;
  width: 370px;
  margin-top: -25px;
  margin-left: -30px; }
  @media screen and (min-width: 992px) {
    .bloque {
      height: 445px;
      width: 400px; } }
  @media screen and (min-width: 1200px) {
    .bloque {
      height: 545px;
      width: 530px; } }

.foto_perfil {
  height: 400px;
  width: 340px; }
  @media screen and (min-width: 992px) {
    .foto_perfil {
      height: 450px;
      width: 370px; } }
  @media screen and (min-width: 1200px) {
    .foto_perfil {
      height: 550px;
      width: 500px; } }

.perfil {
  height: 425px; }
  @media screen and (min-width: 992px) {
    .perfil {
      height: 480px; } }
  @media screen and (min-width: 1200px) {
    .perfil {
      height: 580px; } }

.justifyContent {
  justify-content: center; }
  @media screen and (min-width: 992px) {
    .justifyContent {
      justify-content: end; } }
