@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

nav {
  background-color: #f6dfce;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em; }
  nav a {
    color: black !important; }

.navbar-brand img {
  width: 2rem; }

.heroe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/portada_desktop.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero-text {
  text-align: start;
  position: absolute;
  top: 35%;
  left: 5%; }

h1 {
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    h1 {
      color: #d6d6d6 !important;
      visibility: visible;
      font-family: "Frank Ruhl Libre", serif;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 93px;
      letter-spacing: 0.099em;
      color: #504d4d; } }

#tratamientos {
  background-color: #d4bba6; }

.tratamientos__titulo {
  font-family: Frank Ruhl Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.079em;
  color: #595351; }
  @media only screen and (min-width: 768px) {
    .tratamientos__titulo {
      font-size: 4rem;
      line-height: 3rem;
      margin-top: 5rem; } }

.tratamientos__subTitulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.034em;
  color: #524F4E; }
  @media only screen and (min-width: 768px) {
    .tratamientos__subTitulo {
      font-size: 2rem;
      line-height: 3rem; } }

#splide {
  visibility: visible; }
  @media only screen and (min-width: 768px) {
    #splide {
      visibility: hidden;
      height: 0px; } }

#tarjetasNormales {
  visibility: hidden;
  height: 0px; }
  @media only screen and (min-width: 768px) {
    #tarjetasNormales {
      visibility: visible;
      height: 100%; } }

.cards {
  background-color: #f6eee2;
  border-radius: 10px; }

.cards:hover {
  transform: scale(1.05); }

.sobreRodrigo {
  background-color: #f6dfce; }
  .sobreRodrigo .textoRodrigo {
    flex-grow: 2; }
  .sobreRodrigo h2 {
    font-family: Frank Ruhl Libre;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.099em;
    color: #595351;
    text-align: left;
    margin-top: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .sobreRodrigo h2 {
        font-size: 4rem;
        line-height: 62px; } }
  .sobreRodrigo p {
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: left; }
    @media only screen and (min-width: 768px) {
      .sobreRodrigo p {
        font-size: 1.4rem;
        line-height: 39px;
        letter-spacing: 0.1em; } }

.foto_perfil {
  height: 380px;
  width: 300px;
  padding-top: 30px;
  padding-left: 30px;
  background: #d4bba6; }
  @media screen and (min-width: 768px) {
    .foto_perfil {
      height: 450px;
      width: 370px; } }
  @media screen and (min-width: 1200px) {
    .foto_perfil {
      height: 600px;
      width: 520px; } }

.perfil {
  height: 400px;
  justify-content: center; }
  @media screen and (min-width: 576px) {
    .perfil {
      justify-content: left;
      padding-left: 0px; } }
  @media screen and (min-width: 768px) {
    .perfil {
      height: 480px;
      justify-content: left;
      padding-left: 0px; } }
  @media screen and (min-width: 992px) {
    .perfil {
      height: 480px;
      justify-content: right;
      padding-right: 0px; } }
  @media screen and (min-width: 1200px) {
    .perfil {
      height: 640px; } }

.visible {
  display: none; }
  @media screen and (min-width: 1200px) {
    .visible {
      display: block; } }

.gridConteiner {
  display: grid;
  grid-template-columns: 100%;
  background-color: #d4bba6;
  grid-template-areas: "covidTitulo " "fotoPerfil" "item1" "item2" "item3"; }
  @media only screen and (min-width: 576px) {
    .gridConteiner {
      grid-template-columns: 50% 50%;
      grid-template-areas: "covidTitulo covidTitulo" "item1 fotoPerfil" "item2 fotoPerfil" "item3 item3"; } }
  @media only screen and (min-width: 1200px) {
    .gridConteiner {
      grid-template-columns: 50% 50%;
      grid-template-areas: "fotoPerfil covidTitulo" "fotoPerfil item0" "fotoPerfil item1" "fotoPerfil item2" "fotoPerfil item3"; } }
  .gridConteiner .textoCovid {
    flex-grow: 2; }
  .gridConteiner h2 {
    font-family: Frank Ruhl Libre;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.099em;
    color: #595351;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem; }
    @media only screen and (min-width: 768px) {
      .gridConteiner h2 {
        font-size: 4rem;
        line-height: 62px;
        margin-top: 2.5rem; } }
    @media only screen and (min-width: 1200px) {
      .gridConteiner h2 {
        text-align: left; } }
  .gridConteiner p {
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: left; }
    @media only screen and (min-width: 768px) {
      .gridConteiner p {
        font-size: 1.6rem;
        line-height: 39px;
        letter-spacing: 0.1em; } }

.foto_perfil2 {
  height: 380px;
  width: 300px; }
  @media screen and (min-width: 768px) {
    .foto_perfil2 {
      height: 450px;
      width: 370px; } }
  @media screen and (min-width: 1200px) {
    .foto_perfil2 {
      height: 600px;
      width: 520px; } }

.perfil2 {
  height: 380px;
  justify-content: center;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .perfil2 {
      min-height: 450px;
      height: auto; } }
  @media screen and (min-width: 1200px) {
    .perfil2 {
      min-height: 600px;
      height: auto; } }

.item1 {
  grid-area: item1;
  display: flex;
  align-items: center; }

.item2 {
  grid-area: item2;
  display: flex;
  align-items: center; }

.item3 {
  grid-area: item3;
  display: flex;
  align-items: center; }

.covidTitulo {
  grid-area: covidTitulo; }

.fotoPerfil {
  grid-area: fotoPerfil; }

#promociones {
  background: linear-gradient(170deg, #d4bba6 50%, #dec9b9 50%); }

.promos {
  border-radius: 10px;
  background-color: #f6eee2; }

.promos h3 {
  font-family: Frank Ruhl Libre;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.099em;
  color: #595351;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 768px) {
    .promos h3 {
      font-size: 4rem;
      line-height: 62px;
      margin-top: 2.5rem; } }
  @media only screen and (min-width: 1200px) {
    .promos h3 {
      text-align: left; } }

.promos p {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-align: left; }
  @media only screen and (min-width: 768px) {
    .promos p {
      font-size: 1.6rem;
      line-height: 39px;
      letter-spacing: 0.1em; } }

.cardsPromo {
  background-color: #d1af8f;
  border-radius: 10px;
  color: white; }
  .cardsPromo h5 {
    font-size: 2rem;
    text-align: left; }
  .cardsPromo p {
    font-size: 1.2rem; }

#contacto {
  background-color: #dec9b9;
  margin-top: 0px;
  padding-top: 0px; }
  #contacto h3 {
    font-family: Frank Ruhl Libre;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.099em;
    color: #595351;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 768px) {
      #contacto h3 {
        font-size: 4rem;
        line-height: 62px; } }
  #contacto p {
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: left; }
    @media only screen and (min-width: 768px) {
      #contacto p {
        font-size: 1.6rem;
        line-height: 39px;
        letter-spacing: 0.1em; } }
  #contacto li {
    list-style: none; }

.botonCita {
  background-color: #f6eee2;
  border-radius: 10px; }

.mapa {
  height: 50vh;
  border-radius: 25px; }
